.pepe {
    width: 65px;
}

body {
    background-image: url(../img/avengers.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.listaRedes li {
    background: transparent;
    color: aliceblue;
}